/*! Settings - Font sizes */

/* Family */

$font-family:			Helvetica, Arial, Verdana, sans-serif;

$font-family-icon:		'FontAwesome';

/* Size */

$font-size-default:       	16px;

$font-size-h1:				3.000em;
$font-size-h2:				2em;
$font-size-h3:				1.500em;
$font-size-h4:				1.125em;
$font-size-h5:				1.2em;
$font-size-h6:				1em;

$font-size-l:				4.000em;
$font-size-m:				1.125em;
$font-size-s:				0.875em;

/* Baseline */

$font-baseline:				1.5em;

/* Weight */

$font-weight-normal:		400;
$font-weight-bold:			700;