/*! Settings - Z-indexes */

$z-index-1:               111;
$z-index-2:               222;
$z-index-3:               333;
$z-index-4:               444;
$z-index-5:               555;
$z-index-6:               666;
$z-index-7:               777;
$z-index-8:               888;
$z-index-9:               999;
$z-index-10:              -1;